[Desktop Entry]
Version=1.0
Type=Application
Name=Swap Alt Win
GenericName=Swap Alt Win
Comment=Swap the Alt and Win keys
Categories=Utility;
Exec=setxkbmap -option altwin:swap_lalt_lwin
Terminal=false

